bin/
obj/
publish/
.vs/
*.user
*.suo
*.dll
*.exe
*.pdb
*.ilk
*.log
appsettings.Local.json
**/Config/settings.json
**/data/*.bin
**/data/*.db
HeadlessClient/logs/
HeadlessClient/downloads/
HeadlessClient/data/
ExtProxy/llvm-mingw-i686/
ExtProxy/_navprobe/*.exe
.env
*.pfx
*.snk
